<html ng-app="app.todos"> <!--Kiểm soát toàn bộ ứng dụng ng-app-->
    <head>
        <link rel="icon" href="assets/favicon.ico" />
        <title>My App</title>
        <!--load app styles-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        -->
        <!--load cnd styles-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.2/css/xeditable.min.css">

        <!--load CDN scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.2/js/xeditable.min.js"></script>
        
        <!--load app-->
        <script src="assets/js/main/appClient.js"></script>
        <script src="assets/js/main/services/svTodos.js"></script>

        <!--load favicon icon-->
        <!-- <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' /> -->
    </head>
    <body ng-controller="todoController"> <!--Vùng controller muốn kiểm soát ng-controller-->
        <div class="container">

            <div class="jumbotron text-center">
                <h1>{{ appName }} <span class="label label-info">{{ todos.length }}</span></h1>
                <h2>{{ appUse }}</h2>
              </div>
            
            <div id="todo-list" class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="checkbox" ng-repeat="todo in todos">
                        <input type="checkbox" ng-model="todo.isDone" ng-change="updateTodo(todo)"> 
                        <a href="" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-edit"></i></a>
                        <a href="" ng-click="deleteTodo(todo)"><i class="far fa-trash-alt"></i></a>
                        <span ng-class="{ strike: todo.isDone}" editable-text="todo.text" e-form="textBtnForm" onaftersave="updateTodo(todo)">{{ todo.text }}</span>
                    </div>
                    <p class="text-center" ng-show="loading">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </p>
                </div>
            </div>
            

            <div id="todo-form" class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">
                            <input type="text" ng-model="formData.text" class="form-control input-lg text-center" placeholder="What do want to do?">
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg"  ng-disabled="!formData.text" ng-click="createTodo()">Add</button>
                    </form>
                </div>
            </div>

        </div> <!--End container-->
        
    </body>
</html> 